.title_logement {
    display: flex;
    font-size: 24px;
    color: #FF6060;
    margin-top: 0px;
}

.location {
    color: #FF6060;
    font-size: 14px;
    font-weight: 400;
    margin-top: -10px;
}

@media screen and (max-width: 767px) {
    .title_logement {
        font-size: 24px;
        margin-left: -30px;
        margin-top: 30px;
    }

    .location {
        font-size: 16px;
        margin-left: -30px;
        margin-top: 10px;
    }
}
